@font-face {
    font-family: "Balsamiq Sans";
    src: url(BalsamiqSans-Regular.ttf); /* Source: https://fonts.google.com/specimen/Balsamiq%20Sans */
}

	* {
		margin: 1%;
		padding: 0;
		border: 0;
		box-sizing: border-box;
		font-family: "Balsamiq Sans";
	}
	
	body {
		background-image: url(../img/bg_stars.gif);
		font-size: 19px;
		color: black;
	}
	
	h1 {
		text-align: center;
		font-size: 250%;
	}
	
	hr {
		border: solid 1px pink;
	}
	
	a {
		margin: 0;
		color: #cf659d;
	}
	
	a:hover {
		color: rgba(79, 193, 255, 1);
	}
	
	a:visited {
		color: rgba(189, 70, 187, 1);
	}
	
	footer {
		min-height: 75px;
		padding: 1%;
		text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	}

/*divs and such*/

	.container {
		width: 75%;
		border: 2px solid black;
		padding: 2%;
		margin: auto;
		background-color: white;
	}

	.caption {
		font-style: italic;
		font-size: 14px;
	}
	
	.rainbowheader {
		text-align: center;
		font-size: 100px;
		background: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #5e2543;
		padding-top: 3%;
		padding-bottom: 1%;
	}
	
	.rainbowsubheader {
		text-align: center;
		font-size: 75px;
		background: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #5e2543;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	
	.rainbowtext {
		text-align: center;
		background: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #5e2543;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	
	.imgcenter {
		margin: auto;
	}
	
	.headerlink {
		text-decoration: none;
	}
	
