@font-face {
    font-family: "Balsamiq Sans";
    src: url(BalsamiqSans-Regular.ttf); /* Source: https://fonts.google.com/specimen/Balsamiq%20Sans */
}

	* {
		margin: 1%;
		padding: 0;
		border: 0;
		box-sizing: border-box;
		font-family: "Balsamiq Sans";
	}
	
	body {
		background-image: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578);
		font-size: 19px;
		color: black;
	}
	
	header {
		background-color: rgba(255, 255, 255, 1);
		min-height: 200px;
		margin: 0;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
		border: solid 1px black;
		border-radius: 25px;
		background-image: url(../img/header.png);
	}

	main {
		min-height: 1000px;
		display: flex;
		flex-flow: row wrap;
	}
	
	aside:nth-child(1) {
		flex: 0 0 300px;
		background-color: rgba(255, 255, 255, 1);
		padding: 2%;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
		height: 1000px;
		border: solid 1px black;
		border-radius: 25px;
	}
	
	aside:nth-child(3) {
		flex: 0 0 300px;
		background-color: rgba(255, 255, 255, 1);
		padding: 2%;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
		height: 1000px;
		border: solid 1px black;
		border-radius: 25px;
	}
	
	article {
		flex: 1 0 800px;
		background-color: rgba(255, 255, 255, 1);
		text-align: center;
		padding: 2%;
		height: 1000px;
		overflow: auto;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
		border: solid 1px black;
		border-radius: 25px;
	}
	
	h1 {
		text-align: center;
		font-size: 250%;
	}
	
	hr {
		border: solid 1px pink;
	}
	
	a {
		margin: 0;
		color: #cf659d;
	}
	
	a:hover {
		color: rgba(79, 193, 255, 1);
	}
	
	a:visited {
		color: rgba(189, 70, 187, 1);
	}
	
	footer {
		min-height: 75px;
		padding: 1%;
		text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	}

/*divs and such*/
	.caption {
		font-style: italic;
		font-size: 14px;
	}
	
	/*.topnav {
		background-color: rgba(0, 0, 0, 1);
		overflow: hidden;
		margin: 0;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	}
	
	.topnav a {
	  float: left;
	  color: #ffffff;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	}
	
	.topnav a:hover {
		background-color: rgba(255, 185, 252, 1);
		color: black;
	}
	
	.topnav a.active {
	  background-color: #04AA6D;
	  color: white;
	} */
	
	.linksidebar li {
		list-style-type: none;
		text-align: center;
		font-size: 25px;
	}
	
	.rainbowheader {
		text-align: center;
		font-size: 100px;
		background: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #5e2543;
		padding-top: 3%;
		padding-bottom: 1%;
	}
	
	.rainbowsubheader {
		text-align: center;
		font-size: 75px;
		background: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #5e2543;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	
	.rainbowtext {
		text-align: center;
		background: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #5e2543;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	
	.imgcenter {
		margin: auto;
	}
	
	/*.footerlink {
		text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
	}*/
	
	.headerlink {
		text-decoration: none;
	}
	
/*status*/

#statuscafe {
    padding: .5em;
    background-color: azure;
	background-repeat: repeat;
	background-image: linear-gradient(to right, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578);
    border: 1px solid black;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

/*misc*/

@media screen and (max-width: 1366px) {
  aside:nth-child(3) {
        display: none;
    }
}