@font-face {
    font-family: "Balsamiq Sans";
    src: url(BalsamiqSans-Regular.ttf); /* Source: https://fonts.google.com/specimen/Balsamiq%20Sans */
}

	* {
		margin: 1%;
		padding: 0;
		border: 0;
		box-sizing: border-box;
		font-family: "Balsamiq Sans";
	}
	
	body {
		background-image: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578);
		font-size: 19px;
		color: white;
	}
	
	header {
		background-color: rgba(0, 0, 0, 1);
		background-image: url("../img/bg/bg_stars.gif");
		min-height: 150px;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2%;
		border: solid 1px black;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 2%;
		text-align: center;
		font-size: 400%;
	}

	.content {
		background-color: rgba(0, 0, 0, 1);
		width: 75%;
		border: 1px solid black;
		padding: 3%;
		margin: auto;
	}

	main {
		min-height: 1000px;
		display: flex;
		flex-flow: row wrap;
	}
	
	h1 {
		text-align: center;
		font-size: 250%;
	}
	
	hr {
		border: solid 1px pink;
	}
	
	a {
		margin: 0;
		color: #cf659d;
	}
	
	a:hover {
		color: rgba(79, 193, 255, 1);
	}
	
	a:visited {
		color: rgba(189, 70, 187, 1);
	}
	
	footer {
		background-color: rgba(0, 0, 0, 1);
		min-height: 50px;
		width: 75%;
		border: 1px solid black;
		padding: 1%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2%;
		text-align: center;
	}
	
	.cbox {
		background-color: rgba(0, 0, 0, 1);
		background-image: url("../img/bg/bg_stars.gif");
		min-height: 450px;
		width: 75%;
		border: 1px solid black;
		padding: 1%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2%;
		text-align: center;
	}
	
/*divs and such*/
	.caption {
		font-style: italic;
		font-size: 14px;
	}
	
	
	/*.rainbowheader {
		text-align: center;
		font-size: 100px;
		background: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #5e2543;
		padding-top: 3%;
		padding-bottom: 1%;
	}*/
	
	.rainbowsubheader {
		text-align: center;
		font-size: 300%;
		background: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	
	.rainbowtext {
		text-align: center;
		background: linear-gradient(to left, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	
	.imgcenter {
		margin: auto;
	}
	
	
	.headerlink {
		text-decoration: none;
	}
	
	.linkbox {
		margin: auto;
		padding: 2%;
		width: 50%;
		font-size: 125%;
		color: black;
		border: 2px solid #96e1ff;
		background-color: #FFFFFF;
	}
	
	.centerlist li {
		list-style-type: none;
		text-align: center;
	}
	
/*nav thank you w3schools*/

ul.topnav {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #96e1ff;}

ul.topnav li a.active {background-color: #ff96e0;}


@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
	
/*status*/

#statuscafe {
    padding: .5em;
    background-color: azure;
	background-repeat: repeat;
	background-image: linear-gradient(to right, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578);
    border: 1px solid black;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

/*misc*/