@font-face {
    font-family: "Balsamiq Sans";
    src: url(BalsamiqSans-Regular.ttf); /* Source: https://fonts.google.com/specimen/Balsamiq%20Sans */
}

 html {
        font-family: "Balsamiq Sans", Geneva, sans-serif;
		font-size: 18px;
      }

      body {
        margin: 0;
		text-align: center;
		background-color: #000000;
		background-repeat: repeat;
		background-image: linear-gradient(to bottom right, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578);
		background-position: left top;
		background-attachment: fixed;
      }

	  p {
		 color: black;
	  }


      h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: black;
        line-height: 100px;
        margin: 0;
      }

	  hr {
		  border-width: 1px 0 0 0;
		  border-style: solid;
          border-color: black; 
	  }

      a {
		color: #ff30ce;
	}


      a:hover, a:focus {
	background-color: #ffbedb;
	}

      a:visited {
	color: #0069cc;
	}

     .caption {
		font-style: italic;
		font-size: 14px;
	}

     .boxfont {
		color: black
	}


/*flexbox*/

      article {
        padding: 10px;
        margin: 10px;
        background: white;
		flex: 2 25%;
		border: solid black 1px;
		border-radius: 15px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		align-self: flex-start;
      }
	  
      iframe {
        padding: 10px;
        margin: 10px;
        background: white;
		flex: 1 15%;
		border: solid black 1px;
		border-radius: 15px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		align-self: flex-start;      
    }

      /* Add your flexbox CSS below here */

		section {
		display: flex;
		flex-wrap: wrap;
		height: 5%;
		}
		
		
/*status*/

#statuscafe {
    padding: .5em;
    background-color: azure;
	background-repeat: repeat;
	background-image: linear-gradient(to right, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578);
    border: 1px solid black;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

/*misc*/

#footer {
	font-size: 14px;
	padding: 5px;
    /*margin-left: 15%;
	margin-right: 15%;
	margin-top: 30px;
	background: white;
	flex: 2 25%;
	border: solid black 1px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);*/
}