@font-face {
    font-family: "Balsamiq Sans";
    src: url(BalsamiqSans-Regular.ttf); /* Source: https://fonts.google.com/specimen/Balsamiq%20Sans */
}

body {
	font-family: "Balsamiq Sans", Geneva, sans-serif;
	font-size: 18px;
	color: #fff;
	background-color: #000000;
	background-repeat: repeat;
	background-image: linear-gradient(to bottom right, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578);
	background-position: left top;
	background-attachment: fixed;
}

header {
	text-align: center;
	font-size: 120%;
}
	

a {
	color: #ff30ce;
}


a:hover, a:focus {
	background-color: #ffbedb;
}

a:visited {
	color: #0069cc;
}


/* nav ul { */
	/* padding: 0; */
	/* list-style-type: none; */
	/* margin: 0; */
	/* padding: 0; */
	/* text-align: center; */
	/* font-size: 75%; */
/* } */

/* nav li { */
	/* display: inline; */
	/* padding: 8px; */
	/* font-size: 150%; */
/* } */

/* nav li a { */
	/* color: #ff30ce; */
	/* padding: 8px; */
	/* display: inline-block; */
/* } */

/* nav li a:hover { */
	/* background-color: #ffbedb; */
/* } */

/* nav li a:visited { */
	/* color: #0069cc; */
/* } */

hr {
	border-width: 3px 0 0 0;
	border-style: solid;
    border-color: #fff; 
}

img {
	max-width: 100%;
	height: auto;
}

/*classes*/

.box {
	background-color: rgba(0, 0, 0, 0.8);
	float: left;
	padding: 2%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.wrapper {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 50%;
	border-radius: 50px;
}

.sidebar {
	margin-left: 5%;
	margin-right: 1%;
	width: 15%;
	margin-top: 5%;
	border-radius: 50px;
	font-size: 85%;
}

.sidebartitle {
	font-size: 200%;
	text-align: center;
}

.sidebar li {
	list-style: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.imgcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rainbowtxt {
	text-align: center;
	background: linear-gradient(to right, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.updates {
	padding: 15px;
	background: rgba(0, 0, 0, 0.8);
	width: 75%;
	height: 410px;
	overflow: auto;
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 15px;
	line-height: 90%;
}

.caption {
	font-style: italic;
	font-size: 14px;
}

/*ids*/
#footer {
	font-size: 75%;
	text-align: center;
	color: black;
}

#footer a:link {
	color: #ffffff;
}

#footer a:hover {
	background-color: #ffff99;
	color: #000000;
}

#footer a:visited {
	color: #ffffff;
}