@font-face {
    font-family: "VT323";
    src: url(VT323-Regular.ttf); /* Source: https://fonts.google.com/specimen/Balsamiq%20Sans */
}

 html {
        font-family: "VT323", Geneva, sans-serif;
		font-size: 23px;
      }

      body {
        margin: 0;
		text-align: center;
		background-color: #000000;
		background-repeat: repeat;
		background-image: url(../img/bg_nes.gif);
		background-position: left top;
		background-attachment: fixed;
      }

	  p {
		 color: white;
	  }


      h1 {
		font-size: 200%;
        color: white;
        margin: 0;
      }
	  
	  h2, h3 {
		  color: white;
		  
		  }

	  hr {
		  border-width: 1px 0 0 0;
		  border-style: solid;
          border-color: black; 
	  }

      a {
		color: #ff30ce;
	}


      a:hover, a:focus {
	background-color: #ffbedb;
	}

      a:visited {
	color: #0069cc;
	}

     .caption {
		font-style: italic;
		font-size: 14px;
	}

     .boxfont {
		color: black
	}
	
	/*flexbox*/

      article {
        padding: 10px;
        margin-right: 15%;
		margin-left: 15%;
        background: rgba(0, 0, 0, 0.95);
		flex: 2 25%;
		border: solid white 1px;
		align-self: flex-start;
      }

      /* Add your flexbox CSS below here */

		section {
		display: flex;
		flex-wrap: wrap;
		height: 5%;
		}
		
	header {
		font-size: 300%;
		color: white;
		padding: 10px;
        margin-right: 15%;
		margin-left: 15%;
		margin-bottom: 1%;
        background: rgba(0, 0, 0, 0.95);
		flex: 2 25%;
		border: solid white 1px;
	}