@font-face {
    font-family: "Balsamiq Sans";
    src: url(BalsamiqSans-Regular.ttf); /* Source: https://fonts.google.com/specimen/Balsamiq%20Sans */
}

body {
  background-color: #000000;
  background-repeat: repeat;
  background-image: linear-gradient(to bottom, #ffffff, #ffc7e0);
	background-position: left top;
	background-attachment: fixed;
  font-size: 18px;
  font-family: "Balsamiq Sans", Geneva, sans-serif;
  margin: 0;
}
/*i copied and pasted this from another file just to get a starting point pls dont kill me*/

p, ul {
	color: white;
}

h1, h2, h3 {
	color: white;
	text-align: center;
}

hr {
  border-width: 3px 0 0 0;
  border-style: dotted;
  border-color: #ffffff; 
}

a {
	color: #eeff82;
}


a:hover, a:focus {
  color: #e4ff38;
}

a:visited {
  color: #ffffff;
}

.caption {
	font-style: italic;
	font-size: 14px;
}

.boxfont {
	color: #ff66aa;
}


/*c o n t a i n e r also apparently tbhis is just a funky little custom thing i gotta define it in the html*/

#container {
	 width: 90%;
	 max-width: 650px;
	 background-color: #ff8fdd;
	 border-radius: 25px;
	padding: 50px;
	margin: 3em auto;
	margin-top: 20px;
	box-shadow: 5px 5px 4px rgba(180, 0, 93, 0.58);
}

#content {
  padding: 10px 5% 20px 5%;
}

#sidebar {
	width: 15%;
	background-color: #ff8fdd;
	/*background-image: url("img/sidebar.png");*/
	margin-right: 2%;
	margin-top: 20px;
	border-radius: 25px;
	text-align: left;
	float: right;
	padding: 10px;
	box-shadow: 5px 5px 4px rgba(180, 0, 93, 0.58);
}

#categories {
  width: 250px;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
  margin: 25px;
  background-color: #FFC7E0;
  font-size: 18px;
}