@font-face {
    font-family: 'The Sims Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('The Sims Sans Bold'), url('Loucos Lyne - thesimssansbold.woff') format('woff');
    }
    

@font-face {
    font-family: 'The Sims Sans SC Bold';
    font-style: normal;
    font-weight: normal;
    src: local('The Sims Sans SC Bold'), url('Loucos Lyne - thesimssansboldsc.woff') format('woff');
    }
	
body {
	font-family: 'The Sims Sans Bold', sans-serif;
	font-size: 115%;
	color: white;
	background-image: linear-gradient(to bottom right, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'The Sims Sans SC Bold', sans-serif;
	text-align: center;
}

header {
	font-family: 'The Sims Sans SC Bold', sans-serif;
	font-size: 200%;
	margin-top: 5%;
	text-align: center;
	color: black;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

a:link {
	color: #ff66ff;
}

a:hover {
	color: #0099ff;
	background-color: #ccffcc;
}

a:visited {
	color: #ff66ff;
}

img {
	max-width: 100%;
	height: auto;
}

/* boxes and making sure the footer stays put */

.box {
	background-color: rgba(0, 0, 0, 0.8);
	float: left;
	padding: 2%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.wrapper {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 50%;
	border-radius: 50px;
}

.sidebar {
	margin-left: 5%;
	margin-right: 1%;
	width: 15%;
	margin-top: 5%;
	border-radius: 50px;
	font-size: 85%;
}

.sidebartitle {
	font-family: 'The Sims Sans SC Bold', sans-serif;
	font-size: 200%;
	text-align: center;
}

.sidebar li {
	list-style: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ids */

#footer {
	font-size: 75%;
	text-align: center;
	color: black;
}

#footer a:link {
	color: #ffffff;
}

#footer a:hover {
	background-color: #ffff99;
	color: #000000;
}

#footer a:visited {
	color: #ffffff;
}
