@font-face {
    font-family: "Baby Doll";
	src: url(BabyDoll.ttf); 
}

 html {
        font-family: "Baby Doll", Geneva, sans-serif;
		font-size: 23px;
      }

      body {
        margin: 0;
		text-align: left;
		background-color: #ffffff;
		background-repeat: repeat;
		background-image: url(../img/bg_fuwa.jpg);
		background-position: left top;
		background-attachment: fixed;
      }

	  p, ul, ol {
		 color: #9250d9;
	  }

	blockquote {
		color: #ff3874;
	}

      h1 {
		font-size: 200%;
        color: #9250d9;
        margin: 0;
		text-align: center;
      }
	  
	  h2, h3, h4, h5, h6 {
		  color: #9250d9;
		  text-align: center;
		  
		  }

	  hr {
		  border-width: 3px 0 0 0;
		  border-style: solid;
          border-color: #9250d9; 
	  }

      a {
		color: #321452;
	}


      a:hover, a:focus {
	color: #cc7f02;
	}

      a:visited {
	color: #613c00;
	}

	em, b, i, strong, s, u {
		color: #9250d9;
	}

     .caption {
		font-style: italic;
		font-size: 14px;
	}

     .boxfont {
		color: black
	}
	
	/*flexbox*/

      article {
        padding: 10px;
        margin-right: 15%;
		margin-left: 15%;
        background: rgba(249, 255, 185, 1);
		flex: 2 25%;
		border: solid white 1px;
		align-self: flex-start;
      }

      /* Add your flexbox CSS below here */

		section {
		display: flex;
		flex-wrap: wrap;
		height: 5%;
		}
		
	header {
		font-size: 300%;
		color: #9250d9;
		padding: 10px;
        margin-right: 15%;
		margin-left: 15%;
		margin-bottom: 1%;
		flex: 2 25%;
		text-align: center;
	}