body {
  background-color: #434343;
  background-image: linear-gradient(#04150a, #1e9f49);
  background-repeat: repeat;
	background-position: left top;
	background-attachment: fixed;
  font-size: 18px;
  font-family: Calibri;
  margin: 0;
}
/*i copied and pasted this from another file just to get a starting point pls dont kill me*/

p {
	color: white;
}

h1, h2 {
	text-align: center;
	color: white;
}

hr {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #4dff85; 
}

a {
	color: #63ff9a;
}


a:hover, a:focus {
  color: #00b841;
}

a:visited {
  color: #6d947b;
}

.caption {
	font-style: italic;
	font-size: 14px;
}


/*c o n t a i n e r also apparently tbhis is just a funky little custom thing i gotta define it in the html*/

#container {
	 width: 90%;
	 max-width: 650px;
	 background-color: #434343;
	 border: 2px solid #4dff85;
	 border-radius: 5px;
	padding: 50px;
	margin: 0.1em auto;
	margin-top: 20px;
}

#content {
  padding: 5px 1% 10px 1%;
}

