@font-face {
    font-family: "Balsamiq Sans";
    src: url(../style/BalsamiqSans-Regular.ttf); /* Source: https://fonts.google.com/specimen/Balsamiq%20Sans */
}

 body {
    font-family: "Balsamiq Sans", Geneva, sans-serif;
	font-size: 18px;
	color: #fff;
}

a {
	color: #ff30ce;
}


a:hover, a:focus {
  background-color: #ffbedb;
}

a:visited {
  color: #0069cc;
}

.caption {
	font-style: italic;
	font-size: 14px;
}

.boxfont {
	color: black
}

.rainbowtxt {
	text-align: center;
	background: linear-gradient(to right, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*status*/

#statuscafe {
    padding: .5em;
    background-color: azure;
	background-repeat: repeat;
	background-image: linear-gradient(to right, #FF7675, #FFFF75, #75FF77, #75FFFE, #7775FF, #FF75EC, #FF7578);
    border: 1px solid black;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}